<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Camagaru</title>
    <%- include('partial/head.ejs') %> 
</head>
<body>
    <%- include('partial/navbar.ejs') %>
    <main class="min-h-screen max-w-7xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8 flex flex-col justify-center">
        <div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8 w-full">
            <!-- Left column -->
            <div class="grid grid-cols-1 gap-4 lg:col-span-2">
              <section aria-labelledby="section-1-title">
                <h2 class="sr-only" id="section-1-title">Web camera</h2>
                <div class="rounded-lg bg-white overflow-hidden shadow">
                  <div class="p-6">
                    <!-- Your content -->
                  </div>
                </div>
              </section>
            </div>
    
            <!-- Right column -->
            <div class="grid grid-cols-1 gap-4">
              <section aria-labelledby="section-2-title">
                <h2 class="sr-only" id="section-2-title">Recent photos</h2>
                <div class="rounded-lg bg-white overflow-hidden shadow">
                  <div class="p-6">
                    <!-- Your content -->
                  </div>
                </div>
              </section>
            </div>
          </div>
    </main>
    <%- include('partial/footer.ejs') %>
</body>
</html>